*{
  margin: 0;
}
/*header*/
.logo {
 
  margin: 0;
  width: 100%;
  height: 350px;
  border-bottom-left-radius: 40px;
  background-image: linear-gradient(
    to right,
    rgb(245, 166, 134),
    rgb(245, 63, 63)
  );
  justify-content: left;
}



.listabotones2 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
}

.listabotones a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  justify-content: left;
}

.laptop {
  width: 550px;
  height: auto;
  margin-left: 600px;
  position: relative;
  top: 390px;
  left: 100px;
}
.computadora {
  height: 0px;
}
.lpgrande {
  width: 740px;
  position: absolute;
  right: 759px;
  top: 1320px;
  bottom: 00px;
}

.compu2 {
  width: 0px;
}
